.footer-wrapper {
  background-color: #1b2a4e;
<<<<<<< HEAD
  color: #ffffff;
  line-height: 1.75;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.logo-container p {
  color: #515184;
}

.logo-container img {
  padding-bottom: 1rem;
  vertical-align: middle;
=======
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
>>>>>>> 6331c38f3750e75a473d82317c836aee2964a496
}

.higher-footer {
  border-bottom: 1px solid #223461;
}

.icons-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.icons-list li {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  display: inline-block;
  background-color: #293f73;
  text-align: center;
  line-height: 2.5rem;
}

.icons-list li:hover {
  color: #293f73;
  background-color: #ffffff;
  cursor: pointer;
}

.list-footer-content h4 {
  font-size: 1rem;
  font-weight: 600;
}

.logo-container ul {
  margin-bottom: 3rem;
}

.list-footer-content ul {
  padding: 0;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.list-footer-content li {
  list-style: none;
  color: #515184;
  font-size: 1rem;
  font-weight: 400;
}

.list-footer-content li:hover {
  cursor: pointer;
  color: #ffffff;
}

.lower-footer {
  background: #1b2a4e;
  color: #515184;
}

<<<<<<< HEAD
.lower-footer p a {
  color: #ffffff !important;
}

@media screen and (max-width: 576px){
  .lower-footer {
    text-align: center;
  }
}
=======
.lower-footer p a{
  color: #FFFFFF !important;
<<<<<<< HEAD
}
=======
}
 */
>>>>>>> 77889f2acdded527d23ab623fb31a0a279556697
>>>>>>> 6331c38f3750e75a473d82317c836aee2964a496
