.container-header {
    background-image: linear-gradient(180deg, rgba(63,146,184,1) 0%, rgba(23,38,100,1) 100%);
    width: 100%;
    height: 100%;
}

.hero-content h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4.3rem;
    margin-bottom: 1.25rem;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
} 

.hero-content p {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.app-banner {
    color: #fff;
    background-color: #121158;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
}

.btn-primary {
    border-color: #3639AE;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out;
    background-color: 0.15s ease-in-out;
     border-color: 0.15s ease-in-out;
     box-shadow: 0.15s ease-in-out;
}