.container-tracker1{
    margin-left: 32rem;
    background-color: #F7F8FC;
}
.dropDown-container{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1.875rem;
    padding-bottom: 1rem;
    
    display: flex;
}

.tracker1-row {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.marks path {
    fill: #3639AE;
}

.container-button-map{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.zoom-in-button, .zoom-out-button {
    background-color: #3639AE;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.50rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
background-color: white;
padding: 2rem;
width: 65rem;
}