*{
    margin: 0;
    padding: 0;

}
.tracker3-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin-left: 31.25rem;
    background: #F7F8FC;
    padding: 0.625rem 1.25rem;
    overflow-y: auto;
}

.tracker3-container h1 {
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #0c0c0d;
    font-size: 1.625rem;
    margin-bottom: 1.25rem;
    width: 100%;
    border-bottom: 1px solid #223461;
}

.tracker3-column h4 {
    font-weight: 600;
    font-size: 1.125rem;
    color: #121158;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    position: relative;
    top: 0px;
    float: right;
    width: 3px;
    height: 655px;
    background-color: rgb(238, 238, 238);
    border: 0px solid rgb(255, 255, 255);
    background-clip: padding-box;
    border-radius: 5px;
  } 

  @media screen and (max-width: 1199px) {
    .tracker3-container {
        margin-left: 6.25rem;
    }
}