/* 
.tracker3-container{
    display: flex;
    gap: 1.5rem;
    margin-left: 31.25rem;
    background: #F7F8FC;
    padding: 0.625rem 1.25rem;  
}

.tracker3-column h4 {
    font-weight: 600;
    font-size: 1.125rem;
    color: #121158;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    position: relative;
    top: 0px;
    float: right;
    width: 3px;
    height: 655px;
    background-color: rgb(238, 238, 238);
    border: 0px solid rgb(255, 255, 255);
    background-clip: padding-box;
    border-radius: 5px;
  } 

  @media screen and (max-width: 1199px) {
    .tracker3-container {
        margin-left: 6.25rem;
    }
    .tracker3-container h1 {
        margin-left: 6.25rem;
    }
}