.tracker0{
    height: 100vh;
    margin-left: 6.25rem;
    width: 25rem;
    background: #fff;
    padding: 0.625rem 1.25rem;
    position: fixed;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
}

.tracker0 h2 {
    font-weight: 700;
    color: #0c0c0d;
    font-size: 1.625rem;
    margin: 0.625rem 0;
    margin-bottom: 1.25rem;
}

.tracker0 h4 {
    margin-top: 1.25rem;
    margin-bottom: 0.938rem;
    font-weight: 600;
    font-size: 1.125rem;
    color: #121158;
}

@media screen and (max-width: 1199px) {
    .tracker0 {
        display: none;
    }
}