.infoTracker-card {
  width: 22rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #fff2f2;
  align-items: center;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.title-container {
  display: flex;
  align-items: center;
}

.title-container h5 {
  color: #1a1662;
  font-size: 1rem;
  margin-left: 0.625rem;
  height: 100%;
}

.cases-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today-cases-container {
  background-color: #ffffff;
  color: #999fb0;
  font-size: 0.625rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.8rem;
}

.today-cases-container p {
  margin: 0;
}

.total-cases-container h6 {
  font-size: 1.75rem;
  margin-right: 0.625rem;
}

.infoTracker-card:hover {
  transition: all 0.2s;
  transform: scale(1.02);
  cursor: pointer;
}

.total-case-card {
  background-color: #fff2f2;
}

.total-case-card h6 {
  color: #ff0000;
}

.total-case-card:hover {
  border: 2px solid #ff0000;
}

.active-case-card {
    background-color: #FFF9F1;
  }
  
  .active-case-card h6 {
    color: #FF6A07;
  }
  
  .active-case-card:hover {
    border: 2px solid #FF6A07;
  }
  
  
.recovered-case-card {
    background-color: #EDFFEC;
  }
  
  .recovered-case-card h6 {
    color: #82C519;
  }
  
  .recovered-case-card:hover {
    border: 2px solid #82C519;
  }  
    
.deaths-case-card {
    background-color: #EEFBFF;
  }
  
  .deaths-case-card h6 {
    color: #3639AE;
  }
  
  .deaths-case-card:hover {
    border: 2px solid #3639AE;
  }
  