.infoTracker-card {
  width: 22rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #fff2f2;
  align-items: center;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.title-container {
  display: flex;
  align-items: center;
}

.title-container h5 {
  color: #1a1662;
  font-size: 1rem;
  margin-left: 0.625rem;
  height: 100%;
}

.cases-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today-cases-container {
  background-color: #ffffff;
  color: #999fb0;
  font-size: 0.625rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.8rem;
}

.today-cases-container p {
  margin: 0;
}

.total-cases-container h6 {
  font-size: 1.75rem;
  margin-right: 0.625rem;
}

.infoTracker-card:hover {
  transition: all 0.2s;
  transform: scale(1.02);
  cursor: pointer;
}

.total-case-card {
  background-color: #fff2f2;
}

.total-case-card h6 {
  color: #ff0000;
}

.total-case-card:hover {
  border: 2px solid #ff0000;
}

.active-case-card {
  background-color: #fff9f1;
}

.active-case-card h6 {
  color: #ff6a07;
}

.active-case-card:hover {
  border: 2px solid #ff6a07;
}

.recovered-case-card {
  background-color: #edffec;
}

.recovered-case-card h6 {
  color: #82c519;
}

.recovered-case-card:hover {
  border: 2px solid #82c519;
}

.deaths-case-card {
  background-color: #eefbff;
}

.deaths-case-card h6 {
  color: #3639ae;
}

.deaths-case-card:hover {
  border: 2px solid #3639ae;
}
