
.navbar {
    height: 100px;
    
}


.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: sans-serif;
    z-index: 999;    
}
.image-covid{

    color: #3639AE;
}

.btn{
    padding: 10px 20px !important;
    min-width: 150px !important;
    border-radius: 20px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    box-shadow: none;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */

}
.btn-primary{
    color: #fff;
    background-color: #3639AE;
    border-color: #3639AE;
}
.navbar-collapse{
    flex-grow: 1;
    align-items: center;
    
}

.navbar ul > li > a{
    
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}
.dropdown .dropdown-menu{
    width: 100%;
    position: relative;
    transform: translate3d(0px, 250px, 0px)!important;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block;  
    opacity: 1;
}





/*Me quedo aqui tranformando el dropdwn*/






