.btn-primary {
  color: #fff;
  background-color: #3639ae;
  border-color: #3639ae;
}

.navbar ul > li > a {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.dropdown .dropdown-menu {
  width: 100%;
  position: relative; 
  border: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block;  
    opacity: 1;
} 

.dropdown-home{
    width: 100%;
    position: relative; 
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.dropdown-pages{
    width: 100%;
    position: relative;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block;  
    opacity: 1;

}
.navbar-toggle{
    font-size: 50px;
}
.navbar-nav .nav-item {
  margin-right: 50px; 
}






 