/* /* 
/* .navbar {
    height: 100px;
    
}

.image-covid img{
    position:absolute;
}

.btn{
    padding: 10px 20px !important;
    min-width: 150px !important;
    border-radius: 20px;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    box-shadow: none;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */


.btn-primary {
  color: #fff;
  background-color: #3639ae;
  border-color: #3639ae;
}
/* .navbar-collapse{
    flex-grow: 1;
    align-items: center;
    
} */

.navbar ul > li > a {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.dropdown .dropdown-menu {
  width: 100%;
  position: relative;
  transform: translate3d(0px, 250px, 0px) !important;
  border: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block;  
    opacity: 1;
} 

/*Me quedo aqui tranformando el dropdwn*/

.dropdown-home{
    width: 100%;
    position: relative;
    transform: translate3d(0px, 0px, 0px)!important;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.dropdown-pages{
    width: 100%;
    position: relative;
    transform: translate3d(0px, 0px, 0px)!important;
    border: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block;  
    opacity: 1;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 17dfc8da5caf16459ed6458eb81e5a74e9575de8
}
.navbar-toggle{
    font-size: 50px;
}
.navbar-nav .nav-item {
  margin-right: 50px; 
}











>>>>>>> 6331c38f3750e75a473d82317c836aee2964a496
