
.nav-content{

    display: flex;
    flex-direction: column;
    background-color:#F7F8FC ; 
   align-items: center;
    height: 100vh;
    width: 6.25rem;
}
button{
    border: none;
    background-color: inherit;
    width: 3.75rem;
    height: 3.75rem; 
}
button img{
    
    width: 3.75rem;
    height: 3.75rem; 
}