.infoTracker-card{
    width: 22rem;
    height: 4rem;
    display: flex;
    justify-content:space-between;
    gap: 1rem;
    background-color: #FFF2F2;
    align-items: center;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.title-container{
    display: flex;
    align-items: center;
}

h6 {
    color: #1A1662;
    font-size: 1rem;
    margin-left: 0.625rem;
    height: 100%;
}

.cases-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-cases-container{
    background-color: #FFFFFF;
    color: #999FB0;
    font-size: 0.625rem;
    padding: 0.5rem;
}

.today-cases-container p{
    margin: 0;
}


.total-cases-container h6{
    color: #FF0000;
    font-size: 1.75rem;
    margin-right: 0.625rem;
}

.infoTracker-card:hover{
    border: 2px solid #FF0000;
    transition: all 0.2s;
    transform:scale(1.02);
    cursor: pointer;
}

