.tracker3-card{
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(20, 50, 90, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #121158;
  margin-bottom: 15px;
  transition: all 0.2s;
  width: 10.375rem;
  height: 3.5rem;
}

.tracker3-card img{
  width: 3rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-style: none;
  border-radius: 30px;
  margin-bottom: 0;
  padding: 0.563rem;
}

.tracker3-card h6 {
  color: #121158;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.tracker3-card span {
  color: #121158;
  font-size: 12px;
  font-weight: 500;
}

.tracker3-card-content-data{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.tracker3-card:hover{
  transition: all 0.2s;
  transform:scale(1.05);
  cursor: pointer;
}

